{% extends "base.html" %}
{% block titulo %}Cadastro{% endblock %}

{% block conteudo %}




    <div class=" container    container-fixed-lg">
        <div class="row">
            <div class="col-xl-7 col-lg-6 ">
                <!-- START card -->
                <div class="card card-transparent">
                    <div class="card-block">

                        <form id="form-personal" role="form" autocomplete="off" method="post"
                              action="{% url 'Cadastro2' %}">
                            {% csrf_token %}
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    {{ form.as_p }}
                                </div>

                            </div>

                            <p class="pull-left">

                            </p>

                            <p class="pull-right">

                            </p>

                            <div class="clearfix"></div>
                            <input class="btn btn-primary" type="submit" value="Cadastrar"></input>


                        </form>
                    </div>
                </div>
                <!-- END card -->
            </div>
            <div class="col-xl-5 col-lg-6">
                <!-- START card -->
                <div class="card card-transparent">
                    <div class="card-header ">
                        <div class="card-title">Validation
                        </div>
                    </div>
                    <div class="card-block">
                        <h3>Showcase and guide users with a <br>
                            better User Interface &amp; Experience.</h3>

                        <p>Forms are one of the most important components
                            <br> when it comes to a dashboard. Recognizing that fact, users are
                            <br>able work in a maximum content width.</p>
                        <br>

                        <p class="small hint-text m-t-5">VIA senior product manager
                            <br> for UI/UX at REVOX</p>
                        <button class="btn btn-primary btn-cons">More</button>
                    </div>
                </div>
                <!-- END card -->
            </div>
        </div>
    </div>




{% endblock %}